/* line 1, C:/Users/krishnakumarv/Desktop/sass 101/scss/_netflixlite.scss */
body {
  background-color: #000000;
  font-family: Helvetica, sans-serif;
  color: blue; }

/* line 8, C:/Users/krishnakumarv/Desktop/sass 101/scss/_netflixlite.scss */
.wrap, .big-text {
	position: absolute;
	left:0;
	width: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #ffffff;
	font-size: 2.30em;
	direction: ltr;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.2em;
    margin-left: 0px;
    line-height: 1.1em;
    font-weight: 700;
    text-shadow: 1px 1px 10px #000;
	letter-spacing: -1;
	margin-left:
	
}
.big-text{
	top:200;
	margin: 10;
}

.caption{
	font-family: Arial;
	top: 315px;
	font-size: 1em;
	font-weight: lighter;
	position: absolute;
	font-size: 1em;
	color: white;
	text-shadow: 1px 1px 10px #000;
	padding-left: 20;
}

.logo{
  overflow: hidden;
  float: left;
  backface-visibility: visible;
  margin-top: 30;
    margin-left: 10;
    margin-right: 100;
    
  /* height: 25px;
  height: 25px; */
}

.darkTheme{
  background-color: #000000;
}

.btn-primary{
  position: relative;
  background-color: #B9090B;
  border: none;
  transition-duration: 0.5s;
  width: 15%;
  opacity: 25%;
    
    margin-top:0;
    margin-bottom: 50;
    margin-left: 0;
    margin-right: 0;
    
    font-family: sans-serif;
    font-weight: lighter;
    
    padding-top: auto;
}

.btn:focus,.btn:active, .btn-hover, .btn{
  outline: none !important;
}

.btn-1a{
  margin-top: 5%;
	margin-right: 1.5%;
    overflow: hidden;
    float: right
}

.btn-1a:hover, .btn-1b:hover, .btn-1c:hover{
  background: #f40612;

}

.img-wrapper{
	position: relative;
	width: 100%;

}

.wrap{
	position: relative;
	width: auto;
	background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
/*	margin-bottom: */
}

.btn-1b{
	font-family: Arial, sans-serif;
	position: absolute;
	top: 400;    
	font-size: 14px;
	letter-spacing: 1.9px;
	font-weight: 400;
	background: #bb0a12;
	box-shadow: 0 1px 0 rgba(0,0,0,.45);
	text-decoration: none;
	overflow: hidden;
    float: right;
	margin-left: 20;
	
	padding: 15 0 15 0; 
}
.btn-1c{
	font-family: Arial, sans-serif;
	position: relative;    
	font-size: 14px;
	letter-spacing: 1.9px;
	font-weight: 400;
	background: #bb0a12;
	box-shadow: 0 1px 0 rgba(0,0,0,.45);
	text-decoration: none;
	overflow: hidden;
    float: left;
/*	margin-left: 20;*/
	
/*	padding: ; */
}

#grad1{
	height:inherit;
	background: 
}

.middle-banner{
	background-color: #141414;
	margin-bottom: -18;
}

.middle-banner .row{
	padding-top: 20;
	padding-bottom: 20;
		
}

.col-md-4 img{
	margin-left: auto;
	margin-right: auto;
	display: block
}

.middle-banner .col-md-4 h6{
	color: #5e5e5e;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight:700;
	color: #777;
	text-align: center;

}

.col-md-8 h4{
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: white;
	font-weight:bold;
	float: right;
	
	margin-right: 150;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.col-md-4 button{
	font-family: Arial, sans-serif;
	position: absolute;    
	font-size: 14px;
	letter-spacing: 1.9px;
	font-weight: 400;
	background: #bb0a12;
	box-shadow: 0 1px 0 rgba(0,0,0,.45);
	text-decoration: none;
	overflow: hidden;
    float: left;
	
	padding-left: 25;
	padding-right: 220;
	padding-top: 20;
	padding-bottom: 20;
	
	margin-top:auto;
	margin-bottom: auto
}

.end{
	margin-top: 40;
}

.end .row{
	margin-bottom: 35;
}

.end-banner .col-md-4{
	float: right;
	margin-top: 35;
}

.end .end-banner .row h4{
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 20;
	font-weight: bold;
	text-align: center
}

.end .end-banner .row p{
	color: #5e5e5e;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center
}

.end .end-banner .row .col-md-2 p{
	color: #999;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 14;
	
}

.links{
	margin-top: 75;
}

/*

.row, .col-md-6{
	position: absolute
}
*/
/*# sourceMappingURL=../css/main.map */